body{
    font: 18px/20px Arial, sans-serif;
    background-color: #e8e8e8;
    margin: 0;
}

.Big-Logo{
    display: flex;
    justify-content: center;
    margin: 2%;
}

header{
    display: flex;
    justify-content: center;
    background-image: url(Base.png);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

.Small-Logo{
    height: 40px;
}

.finder{
    width: 80px;
    height: 20px;
}

.header-li{
    display: inline;
    padding-right: 20px;
}
